{% extends 'users/email/base.html' %}
{% load static %}

{% block content %}
    <h1
        style="
        margin: 0;
        background: rgb(3, 7, 18);
        padding: 24px 8px;
        width: 100%;
        text-align: center;
        font-size: 22px;
        color: white;
        font-weight: bold;
        "
    >
        ESQUECEU A SENHA
    </h1>

    <div style="padding: 0 24px 8px">
        <p
            style="
                margin: 20px 0;
                font-size: 18px;
                text-align: center;
                text-wrap: pretty;
            "
        >
            Clique no botão abaixo para acessar o formulário para alterar a sua senha:
        </p>
        
        <a
            target="_blank"
            href="{{ protocol }}{{ domain }}{% url 'users:password-reset' uidb64=uidb64 token=token %}"
            style="
                display: table;
                border: none;
                outline: none;
                background-color: rgb(21, 93, 251);
                padding: 10px 20px;
                font-size: 12px;
                font-weight: 700;
                color: #fff;
                text-align: center;
                border-radius: 5px;
                transition: all ease 0.1s;
                margin: 0 auto;
                text-decoration: none;
            "
            
        >
            Alterar minha senha
        </a>
        
        <p
            style="
                display: block;
                margin: 20px auto 0 auto;
                font-size: 13px;
                text-align: center;
            "
            >
            Ignore esse email caso tenha recebido por engano.
        </p>
    </div>
{% endblock content %}
    