@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';

@theme {
    --menu-height: 44px;
    --font-sans: 'Nunito', sans-serif;
    --font-serif: 'Lora', serif;
    --font-mono: 'Fira Mono', monospace;
}

@utility focus-effect {
    @apply focus:border-transparent focus:ring-2 focus:ring-sky-500;
}

@utility text-shadow {
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3);
}

@utility menu-height {
    height: var(--menu-height);
}

@utility min-h-content {
    min-height: calc(100dvh - var(--menu-height));
}

@layer base {
    @import './components/base.css';
}

@layer components {
    @import './components/buttons.css';
    @import './components/forms.css';
}
