{% extends 'core/base.html' %}
{% load static %}
 
{% block content %}
    <main class="min-h-dvh flex flex-col items-center justify-center bg-gray-50 px-4">
        <form
            method="POST"
            class="w-11/12 max-w-md bg-white rounded overflow-hidden shadow-lg p-8 border border-black/15"
            novalidate
        >
            <h1 class="mt-4 font-serif text-4xl font-bold text-center text-balance">
                Altere a sua senha
            </h1>

            {% csrf_token %}

            {% for error in form.non_field_errors %}
                <div
                    class="mx-auto w-full max-w-md overflow-hidden rounded border border-red-300/70 bg-red-100 brightness-95 mt-8"
                >
                    <p class="py-3 pl-4 break-normal hyphens-auto text-red-800">
                        <strong>Erro:</strong>
                        {{ form.non_field_errors.0 }}
                    </p>
                </div>
            {% endfor %}

            <div class="field mt-2">
                <label for="password1">Senha</label>

                <input
                    id="password1"
                    name="password1"
                    type="password"
                    placeholder=""
                    autocomplete="new-password"
                    required
                />

                {% if form.password1.errors %}
                    <small class="field-error">
                        {{ form.password1.errors }}
                    </small> 
                {% endif %}
            </div>

            <div class="field">
                <label for="password2">Confirmação da senha</label>

                <input
                    id="password2"
                    name="password2"
                    type="password"
                    placeholder=""
                    autocomplete="new-password"
                    required
                />

                {% if form.password1.errors %}
                    <small class="field-error">
                        {{ form.password1.errors }}
                    </small> 
                {% endif %}
            </div>


            <button 
                type="submit"
                class="btn btn-blue mx-auto mt-6"
            >
                Alterar senha
            </button>
        </form>

        <p class="mt-6 text-center text-sm text-gray-500">
            Lembrou da senha?
            <a href="/login" class="text-indigo-600 hover:underline font-medium">
                Volte para o login
            </a>
        </p>
</main>

{% endblock content %}
